* {
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
}
@mixin gradient-bg($angle: 135deg, $color1: #21eda0, $color2: $primary, $color3: #1780f9) {
    background: linear-gradient($angle, $color1, $color2, $color3);
}
@mixin gradient-2($angle: 135deg, $color1: #fa5560, $color2: #b14bf4, $color3: #4d91ff) {
    background: linear-gradient($angle, $color1, $color2, $color3);
}
.navbar-toggler {
    border: none;
    .navbar-toggler-icon {
        background: transparent;
        width: 30px;
        height: 30px;
        position: relative;
        &::before, &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            @include gradient-bg();
            border-radius: 5px;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            display: none;
        }
    }
}
.home{
    .home-left{
        width: 50%;
        height: 100vh;
        .gradient-bg{
            @include gradient-bg();
        }
        
    }
    .home-right{
        .slogan-box{
            @include gradient-bg();
        }
    }
}
@keyframes shoot {
    from {
        left: 160%;
    }
    to {
        left: 200%; 
    }
}
.bullet {
    position: absolute;
    top: 13%;
    width: 25px;
    height: 5px; 
    animation: shoot 3s linear infinite;
    .bullet img {
        width: 100%; 
        height: auto; 
    }
}
@media (max-width: 1028px) {
    .bullet{
        animation: none;
        display: none;
    }
}
@media (max-width: 768px) {
    .home-left {
        width: 100%;
        .home-img-wrapper {
            width: 100%; 
            .home-img {
                width: 100%;
                max-width: 100%; 
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.card-body{
    .btn-update{
        @include gradient-bg();
    }
    .btn-delete{
        @include gradient-2();
    }

}
.point {
    width: 22px;
    height: 22px;
    @include gradient-bg();
}
.contact{
    .gradient-bg{
        @include gradient-bg();
    }
}

